p{
    font-size: 40px;
}
h1{
    font-size: 56px;
    color: red;
}

  
  /* Clear floats after image containers */
    .row {
        display: flex;
        
    }
      
/* figcaption{
    background-color: white;
    color: blue;
    font-size: xx-large;
    font-weight: bold;
    padding: 10px;
    padding-left: 45px;
    text-align: left;
} */
